*.zip filter=lfs diff=lfs merge=lfs -text
حسب filter=lfs diff=lfs merge=lfs -text
النوع filter=lfs diff=lfs merge=lfs -text
اللي filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
تتبع filter=lfs diff=lfs merge=lfs -text
ملفات filter=lfs diff=lfs merge=lfs -text
كبيرة filter=lfs diff=lfs merge=lfs -text
.zip، filter=lfs diff=lfs merge=lfs -text
(مثال filter=lfs diff=lfs merge=lfs -text
على filter=lfs diff=lfs merge=lfs -text
غيّره filter=lfs diff=lfs merge=lfs -text
عندك) filter=lfs diff=lfs merge=lfs -text
